
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="/templates/2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/templates/2/css/normalize.css">
	<link rel="stylesheet" href="/templates/2/css/font-awesome.min.css">
	<link rel="stylesheet" href="/templates/2/css/icomoon.css">
	<link rel="stylesheet" href="/templates/2/css/pogoslider.css">
	<link rel="stylesheet" href="/templates/2/css/scrollbar.css">
	<link rel="stylesheet" href="/templates/2/css/prettyPhoto.css">
	<link rel="stylesheet" href="/templates/2/css/owl.carousel.css">
	<link rel="stylesheet" href="/templates/2/css/transitions.css">
	<link rel="stylesheet" href="/templates/2/css/main.css">
	<link rel="stylesheet" href="/templates/2/css/color.css">
	<link rel="stylesheet" href="/templates/2/css/responsive.css">
	<script src="/templates/2/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>