<script src="/templates/2/js/vendor/jquery-library.js"></script>
<script src="/templates/2/js/vendor/bootstrap.min.js"></script>
<script src="/templates/2/js/jquery.singlePageNav.min.js"></script>
<script src="/templates/2/js/owl.carousel.min.js"></script>
<script src="/templates/2/js/jquery.vide.min.js"></script>
<script src="/templates/2/js/scrollbar.min.js"></script>
<script src="/templates/2/js/prettyPhoto.js"></script>
<script src="/templates/2/js/pogoslider.js"></script>
<script src="/templates/2/js/parallax.js"></script>
<script src="/templates/2/js/countTo.js"></script>
<script src="/templates/2/js/appear.js"></script>
<script src="/templates/2/js/main.js"></script>