/**
 * ----------------------------------------------------------------------------------------
 * Media Queries for Pages.
 * ----------------------------------------------------------------------------------------
 */

 @media only screen and (max-width: 1499px) { 
	
 	// Single Product
 	.woocommerce .single-product-summary {
		padding: 0 0 0 140px;
	}
	.woocommerce .single-product-price .price-text, .SingleProductImage .single-product-price .price-text {
		font-size: 30px;
	}
	.woocommerce div.product div.images .woocommerce-product-gallery__thumbnails_wrapper .woocommerce-product-gallery__image {
		width: 29%;
	}

	// Product Loop
	.woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce-page ul.products li.product .woocommerce-loop-product__title {
		font-size: 16px;
	}




 }

 @media only screen and (min-width: 992px) and (max-width: 1499px) {
	
 	// Single Product
	.woocommerce .single-product-price .price-text, .SingleProductImage .single-product-price .price-text {
		font-size: 30px;
	}
	.woocommerce div.product div.images .woocommerce-product-gallery__thumbnails_wrapper .woocommerce-product-gallery__image {
		width: 29%;
	}

	.PageFlipBook .page-flip-book-ribbon {
		width: 65%;
	}
	.woocommerce .single-product-price {
		padding: 25px;
	}

 }

 @media only screen and (min-width: 992px) and (max-width: 1199px) {
 	// Single Product
 	.woocommerce .single-product-summary {
 		padding: 0 0 0 80px;
 	}
 }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 992px) {

	// Boxed Title
	.BoxedTitle {
		padding: 40px 0 40px 30%;
	}
	.BoxedTitle i {
		margin-right: 20px;
	}
	.BoxedTitle h2 {
		font-size: 28px;
	}

	// Single Product
	.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
		float: right;
		width: 100%;
		margin-bottom: 40px;
	}
	.woocommerce .single-product-summary {
		float: left;
		width: 100%;
		padding: 0;
	}
	.woocommerce .SingleProductHeader,
	.woocommerce .SingleProductInfoBox {
		margin-left: 40px;
		margin-right: 40px;
	}
	.woocommerce .woocommerce-product-gallery__image-wrapper {
		margin-bottom: 40px;
	}
	.woocommerce .single-product-price, .SingleProductImage .single-product-price {
		right: 40px;
	}
	.woocommerce #review_form #respond .comment-form {
		padding-left: 30px;
		padding-right: 0;
	}
	
	// Product Loop
	.woocommerce.columns-5,
	.woocommerce.columns-3,
	.woocommerce.columns-2,
	.woocommerce-page.columns-5,
	.woocommerce,
	.woocommerce-page{
		ul.products.products.columns-3 li.product,
		ul.products li.product {
			margin: 0px 6% 2.992em 0;
			width: 47%;
			clear: none;

			&:nth-child(2n) {
				margin-right: 0;
			}

			&:nth-child(2n+1) {
				clear: left;
			}
		}
	}

	// Profile Page
	.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation {
		width: 100%;
		margin-right: 0;
		margin-bottom: 40px;

		ul {
			padding-left: 0;
		}
	}
	.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation-link {
		display: inline-block;

		a {
			padding: 10px 16px;
			font-size: 14px;
		}
	}
	.woocommerce-account .woocommerce-MyAccount-content {
		float: none;
		width: 100%;
	}

}

/* Smaller than standart (devices and browser) */
@media only screen and (max-width: 767px) {
	// Boxed Title
	.BoxedTitle {
		padding: 40px 5% 40px 15%;
	}
	.BoxedTitle i {
		margin-right: 20px;
	}
	.BoxedTitle h2 {
		font-size: 32px;
	}

	// Shop
	.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
		float: none;
	}
	.woocommerce .woocommerce-ordering {
		margin: 0 0 2em;
	}
	.woocommerce .woocommerce-result-count {
		padding-left: 15px;
	}

	// Product Loop
	.woocommerce.columns-1 {
		ul.products li.product {
			margin: 0 0 2.992em 0;
			width: 100%;
			clear: left;
		}
	}

	// Single Product
	.woocommerce .SingleProductHeader,
	.woocommerce .SingleProductInfoBox {
		margin-left: 20px;
		margin-right: 20px;
	}
	.PageFlipBook .page-flip-book-ribbon {
		width: 65%;
	}
	.woocommerce .single-product-price, .SingleProductImage .single-product-price {
		padding: 25px;
	}
	.woocommerce .price > span {
		font-size: 25px;
	}
	.woocommerce .single-product-cart {
		text-align: center;
	}
	.woocommerce .single-product-cart .quantity, .woocommerce .single-product-cart button {
		margin: 0 10px 20px 0;
	}
	.woocommerce .SingleProductInfoBox .info-box-panel {
		margin-bottom: 100px;
	}
	.woocommerce #reviews .star-rating {
		font-size: 20px;
		width: 130px;
	}
	.woocommerce #reviews #comments ol.commentlist li .comment-text {
		padding: 60px 50px 40px;
	}
	.woocommerce #review_form #respond .comment-form {
		padding-left: 0;
		padding-right: 0;
	}
	.woocommerce #reviews .woocommerce-noreviews {
		padding-left: 0;
		padding-right: 0;
	}
	.woocommerce section.products ul.products {
		padding: 40px;
	}

	// Cart
	.woocommerce-cart .woocommerce .container.mt-100 {
		margin-top: 0;
	}
	.woocommerce table.shop_table tr:last-child td.actions {
		padding: 20px 0;
	}
	.woocommerce table.cart td.product-remove {
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	// Boxed Title
	.BoxedTitle {
		padding: 40px 5% 40px 20%;
	}
	.BoxedTitle h2 {
		font-size: 24px;
	}

	// Single Product
	.woocommerce .SingleProductHeader, .woocommerce .SingleProductInfoBox {
		margin-left: 10px;
		margin-right: 10px;
	}
	.PageFlipBook .page-flip-book-ribbon {
		width: 85%;
	}
	.woocommerce .single-product-price, .SingleProductImage .single-product-price {
		right: 30px;
		padding: 20px;
	}
	.woocommerce, .SingleProductImage {
		.single-product-price .woocommerce-Price-currencySymbol, .woocommerce .single-product-price .price-text {
			font-size: 24px;
		}
	}
	.woocommerce section.products ul.products {
		padding: 40px;
	}
	.woocommerce #reviews .star-rating {
		top: 15px;
		right: 15px;
	}
	.woocommerce #reviews #comments ol.commentlist li img.avatar {
		width: 50px;
	}
	.woocommerce #reviews #comments ol.commentlist {
		padding: 0;
	}
	.woocommerce #reviews #comments ol.commentlist li .comment-text {
		padding: 55px 20px 10px 20px;
		margin: 0 0 0 15px;
	}
	// Variable Product
	.woocommerce div.product form.cart .variations tr {
		display: inline-block;
		padding-bottom: 20px;
		td {
			display: inline-block;
			padding: 0;
			min-width: 100%;
			select {
				padding: 16px 8px;
				margin-right: 0;
			}
		} 
	}
	// Grouped Product
	.woocommerce div.product form.cart .group_table td {
		&, &:first-child, &.label {
			display: inline-block;
			width: 100%;
			padding: 10px 0;
			text-align: left;
		}
	}
	.woocommerce div.product form.cart .group_table tr {
		display: inline-block;
		margin-bottom: 15px;
		a {
			margin: 10px 0;
		}
	} 

	// Shop
	.woocommerce .woocommerce-breadcrumb, .woocommerce-products-header {
		padding-left: 20px;
	}

	// Product Loop
	.woocommerce[class*="columns-"],
	.woocommerce-page.columns-5,
	.woocommerce,
	.woocommerce-page { 
		ul.products.products-per-row-3 li.product,
		ul.products li.product {
			margin: 0px 0 2.992em 0;
			width: 100%;
			clear: none;

			&:nth-child(2n+1), &:nth-child(2n) {
				clear: both;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	// Cart
	.woocommerce table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text + .button {
		width: 100%;
		margin-bottom: .5em;
	}

	// Profile Page
	.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation-link {
		display: block;
	}
}