<nav id="main-navigation-menu-left" class="main-navigation-menu navigation-left">
    <ul id="menu-left-menu" class="is-slicknav-navigation-left">
      <li id="menu-item-166"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-17 current_page_item menu-item-166">
        <a href="/templates/7/" aria-current="page">Home</a></li>
      <li id="menu-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168"><a
          href="/templates/7/events/">Events</a></li>
      <li id="menu-item-167" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167"><a
          href="/templates/7/blog/">Blog</a></li>
    </ul>
  </nav>