<footer class="footer section-light has-widgets">

    <div class="overlay-color"></div>

    <div class="overlay-pattern-2"></div>


    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12"></div>
            <div class="col-md-4 col-sm-12">
                <div id="twitter-2" class="widget clearfix widget_twitter">
                    <div class="twitter-widget-wrapper">
                        <h4 class="widget-title">Twitter</h4>
                        <ul class="list-unstyled">
                            <li>
                                <div class="tweet-content">We are happy to announce that our newest <a
                                        href="//twitter.com/search?q=WordPress">#WordPress</a> Theme "Leona" is OUT
                                    NOW!
                                    Featuring <a href="//twitter.com/search?q=WooCommerce">#WooCommerce</a> support
                                    and be… <a href="https://t.co/pR2IoAeJqC"
                                        target="_blank">https://t.co/pR2IoAeJqC</a></div> <a
                                    href="https://twitter.com/subsolarthemes" class="tweet-time">93 days ago</a>
                            </li>
                            <li>
                                <div class="tweet-content">📣 The long awaited <a
                                        href="//twitter.com/search?q=WordPress">#WordPress</a> 5.0 is out now.
                                    Gutenberg is now the default editor which might bring some issues whi… <a
                                        href="https://t.co/lb3T2PfGey" target="_blank">https://t.co/lb3T2PfGey</a>
                                </div> <a href="https://twitter.com/subsolarthemes" class="tweet-time">303 days
                                    ago</a>
                            </li>
                            <li>
                                <div class="tweet-content">Vivian 1.1.0 is available now on <a
                                        href="//twitter.com/search?q=ThemeForest">#ThemeForest</a>. We have added an
                                    option to show an excerpt for the Horizonal Blog as… <a
                                        href="https://t.co/vAx1EA8Fln" target="_blank">https://t.co/vAx1EA8Fln</a>
                                </div> <a href="https://twitter.com/subsolarthemes" class="tweet-time">323 days
                                    ago</a>
                            </li>
                        </ul>
                    </div><!-- end twitter-widget-wrapper -->
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div id="mailchimp_newsletter-2" class="widget clearfix widget_mailchimp_newsletter">
                    <div class="MailchimpNewsletter mailchimp-widget-wrapper">
                        <h4 class="widget-title">Newsletter</h4>
                        <div class="mailchimp-newsletter-content-wrapper">
                            <div class="mailchimp-newsletter-content mb-20">Make sure you don't miss anything!</div>
                            <form method="post" class="is-mailchimp-shortcode-subscribe">
                                <fieldset>
                                    <input type="email" class="is-mailchimp-email" name="email"
                                        placeholder="Your e-mail address" value="">
                                    <button class="btn btn-icon is-signup-button"
                                        type="submit"><span>Subscribe</span></button>
                                </fieldset>
                            </form>
                            <div class="mailchimp-shortcode-message"></div>
                        </div>
                    </div><!-- end mailchimp-widget-wrapper -->
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-sm-12">
                <div class="copyright font-subheading">
                    <p>© Odrin 2017</p>
                </div>
            </div><!-- end col-sm-12 -->
        </div><!-- end row -->
    </div><!-- end container -->


</footer>