<div class="main-navigation-container is-nav-sticky is-slicknav  double-navigation" data-nav-color="">


    <nav id="main-navigation-menu-left" class="main-navigation-menu navigation-left">
        <ul id="menu-left-menu" class="is-slicknav-navigation-left">
            <li id="menu-item-166"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-17 current_page_item menu-item-166">
                <a href="https://subsolardesigns.com/odrin/demo2/" aria-current="page">Home</a></li>
            <li id="menu-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168"><a
                    href="https://subsolardesigns.com/odrin/demo2/events/">Events</a></li>
            <li id="menu-item-167" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167"><a
                    href="https://subsolardesigns.com/odrin/demo2/blog/">Blog</a></li>
        </ul>
    </nav>
    <div class="navigation-logo is-slicknav-logo">
        <a href="https://subsolardesigns.com/odrin/demo2/">
            <h1>Odrin</h1>
        </a>
    </div>
    <nav id="main-navigation-menu-right" class="main-navigation-menu navigation-right">
        <ul id="menu-right-menu" class="is-slicknav-navigation-right">
            <li id="menu-item-169" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169"><a
                    href="https://subsolardesigns.com/odrin/demo2/contact-me/">Contact Me</a></li>
            <li id="menu-item-170" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-170"><a
                    href="http://subsolardesigns.com/odrin/demo2/product/enemy-of-the-new-world/">Buy Book</a></li>

            <li class="menu-item-has-children menu-item-login-register">
                <a href="https://subsolardesigns.com/odrin/demo2/my-account/?redirect-to=https://subsolardesigns.com/odrin/demo2/"
                    class=""><i class='icon-profile-male'></i>Log In</a>
            </li>
        </ul>
    </nav>


</div>