<footer>

    <!-- TEMPLATE: template_footer_main -->


    <div class="outter-wrapper main-footer-container">


      <div class="hero-widgets element-block-widgets clearfix">
        <div class="hero-widgets-inner clearfix hero-widgets-boxed">

          <!-- FEATURE: WIDGET AREA -->
          <div class="feature-widget-area col-1-3 ">

            <div id="text-2" class="widget widget_text">
              <h3 class="widget-title">About Booker</h3>
              <div class="textwidget">Booker is the perfect WordPress partner for online authors wanting to promote,
                display and sell their digital pubications. Giving authors complete control, Booker cuts out the middle
                man and gives you the power all aspects of content and design.</div>
            </div>

          </div>


          <!-- FEATURE: WIDGET AREA -->
          <div class="feature-widget-area col-1-3 ">


            <div id="booker_more_posts-2" class="widget booker_more_posts">
              <h3 class="widget-title">Recent Media</h3>
              <div class="clearfix">

                <ul class="more-posts-text-list">
                  <li><a href="/templates/6/blog/that-old-road-to-no-where/">That Old Road <i>To No Where</i></a></li>
                  <li><a href="/templates/6/blog/that-old-paper-back-novel-7/">The Morning <i>Frost In Autumn</i></a>
                  </li>
                  <li><a href="/templates/6/blog/that-old-paper-back-novel-6/">We're You <i>Born In The Barn</i></a>
                  </li>
                  <li><a href="/templates/6/blog/but-how-had-mystic-been-caught/">But How Had <i>Mystic Been
                        Caught</i></a></li>
                </ul>
              </div>

            </div>


          </div>


          <!-- FEATURE: WIDGET AREA -->
          <div class="feature-widget-area col-1-3 last">


            <div id="booker_twitter-2" class="widget booker_twitter">
              <h3 class="widget-title">Latest tweets</h3>
              <div class='twitter_widget'>
                <a class="twitter-timeline" href="https://twitter.com/makelemonadeco"
                  data-widget-id="334632933006655488">Tweets by @makelemonadeco</a>
                <script>
                  ! function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0],
                      p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                      js = d.createElement(s);
                      js.id = id;
                      js.src = p + "://platform.twitter.com/widgets.js";
                      fjs.parentNode.insertBefore(js, fjs);
                    }
                  }(document, "script", "twitter-wjs");

                </script>

              </div>

              <div class='twitter_theme_design' data-theme_design='true' data-num_tweets='1'>
                <ul class="tweets">
                </ul>
              </div>

            </div>



          </div>


        </div>
      </div>

    </div>
    <!-- TEMPLATE: template_footer_post_custom_left_right -->


    <!-- POST-FOOTER-CONTAINER -->
    <div class="outter-wrapper post-footer-container">

      <div class="wrapper">

        <div class="clearfix">

          <!-- POST FOOTER LEFT SLOT -->
          <div class="post-footer left">


            <div class="header_text">

              © Copyright Booker by <a href="http://www.themecanon.com" target="_blank">Theme Canon</a>
            </div>

          </div>


          <!-- POST FOOTER RIGHT SLOT -->
          <div class="post-footer right">


            <ul class="social-link">

              <li><a href="https://www.facebook.com/themecanon" target='_blank'><em
                    class="fa fa-facebook-square"></em></a></li>
              <li><a href="https://twitter.com/ThemeCanon" target='_blank'><em class="fa fa-twitter-square"></em></a>
              </li>
              <li><a href="http://localhost:8888/20160403-Booker/feed/" target='_blank'><em
                    class="fa fa-rss-square"></em></a></li>

            </ul>

          </div>


        </div>

      </div>

    </div>
    <!-- END POST-FOOTER-CONTAINER -->


  </footer>