<div class="main-header right">

    <!-- Start Mobile Menu Icon -->
    <div class="mobile-header">
      <a class="responsive-menu-button" href="#">
        <em class="fa fa-bars"></em> Menu </a>
    </div>

    <div id="sidr-navigation-container" class="clearfix">

      <ul class="menuHideBtn">
        <li><a class="closebtn" href="#"><i class="fa fa-close"></i></a></li>
      </ul>

      <!-- WORDPRESS MENU: PRIMARY -->
      <nav id="nav-wrap" class="primary_menu_container">
        <ul id="primary_menu" class="primary_menu nav">
          <li id="menu-item-8"
            class="fa after fa-angle-down menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-8">
            <a href="#">Pages</a>
            <ul class="sub-menu">
              <li id="menu-item-866"
                class="fa after fa-angle-right menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-11 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-866">
                <a href="/templates/6/" aria-current="page">Home Pages</a>
                <ul class="sub-menu">
                  <li id="menu-item-762"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-11 current_page_item menu-item-762">
                    <a href="/templates/6/" aria-current="page">Home Page 1</a></li>
                  <li id="menu-item-771"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-771"><a
                      href="/templates/6/home-2-2/">Home Page 2</a></li>
                  <li id="menu-item-772"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-772"><a
                      href="/templates/6/home-3/">Home Page 3</a></li>
                  <li id="menu-item-773"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-773"><a
                      href="/templates/6/home-4/">Home Page 4</a></li>
                </ul>
              </li>
              <li id="menu-item-768"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-768"><a
                  href="/templates/6/gallery/">Gallery Page</a></li>
              <li id="menu-item-763"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-763"><a
                  href="/templates/6/about/">Standard Page</a></li>
              <li id="menu-item-765"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-765"><a
                  href="/templates/6/contact/">Contact Page</a></li>
              <li id="menu-item-1042"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1042"><a
                  href="http://themecanon.com/booker/?p=9999">404 Page</a></li>
              <li id="menu-item-1041"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1041"><a
                  href="http://themecanon.com/booker/?s=perplexed">Search Results</a></li>
            </ul>
          </li>
          <li id="menu-item-1036"
            class="fa after fa-angle-down menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1036">
            <a href="#">Features</a>
            <ul class="sub-menu">
              <li id="menu-item-1106"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1106"><a
                  href="/templates/6/home-3/">Flip Book</a></li>
              <li id="menu-item-1040"
                class="toolbar-search-btn menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1040">
                <a href="http://themecanon.com/booker" aria-current="page">Search Feature</a></li>
              <li id="menu-item-767"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-767"><a
                  href="/templates/6/typography/">Typography</a></li>
              <li id="menu-item-766"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-766"><a
                  href="/templates/6/shortcodes/">Shortcodes</a></li>
            </ul>
          </li>
          <li id="menu-item-764"
            class="fa after fa-angle-down menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-764">
            <a href="/templates/6/blog/">Blog</a>
            <ul class="sub-menu">
              <li id="menu-item-1072"
                class="fa after fa-angle-right menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1072">
                <a href="#">Layout Options</a>
                <ul class="sub-menu">
                  <li id="menu-item-1073"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1073">
                    <a href="#">Masonry Layout</a>
                    <ul class="sub-menu">
                      <li id="menu-item-1088"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1088"><a
                          href="http://themecanon.com/booker/blog/?sidebars_alignment=right">Masonry Right
                          Sidebar</a></li>
                      <li id="menu-item-1074"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1074"><a
                          href="http://themecanon.com/booker/blog/?sidebars_alignment=left">Masonry Left
                          Sidebar</a></li>
                      <li id="menu-item-1075"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1075"><a
                          href="http://themecanon.com/booker/blog/?blog_layout=masonry">Masonry Full Width</a>
                      </li>
                    </ul>
                  </li>
                  <li id="menu-item-1076"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1076">
                    <a href="http://themecanon.com/booker/blog/?block_slider_alias=post-carousel">Grid
                      Layout</a>
                    <ul class="sub-menu">
                      <li id="menu-item-1077"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1077"><a
                          href="http://themecanon.com/booker/blog/?blog_layout=masonry&#038;blog_num_columns=2">2
                          Column Grid</a></li>
                      <li id="menu-item-1078"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1078"><a
                          href="http://themecanon.com/booker/blog/?blog_layout=masonry_sidebar&#038;blog_num_columns=3">3
                          Column Grid Sidebar</a></li>
                      <li id="menu-item-1079"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1079"><a
                          href="http://themecanon.com/booker/blog/?blog_layout=masonry&#038;blog_num_columns=3">3
                          Column Grid</a></li>
                      <li id="menu-item-1080"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1080"><a
                          href="http://themecanon.com/booker/blog/?blog_layout=masonry&#038;blog_num_columns=4">4
                          Column Grid</a></li>
                    </ul>
                  </li>
                  <li id="menu-item-1081"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1081">
                    <a
                      href="http://themecanon.com/booker/blog/?blog_layout=masonry_sidebar&#038;blog_num_columns=1">Standard
                      Layout</a>
                    <ul class="sub-menu">
                      <li id="menu-item-1082"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1082"><a
                          href="http://themecanon.com/booker/blog/?blog_layout=masonry_sidebar&#038;blog_num_columns=1">Standard
                          Right Sidebar</a></li>
                      <li id="menu-item-1083"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1083"><a
                          href="http://themecanon.com/booker/blog/?blog_layout=masonry_sidebar&#038;blog_num_columns=1&#038;sidebars_alignment=left">Standard
                          Left Sidebar</a></li>
                    </ul>
                  </li>
                  <li id="menu-item-1084"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1084">
                    <a
                      href="http://themecanon.com/booker/blog/?blog_layout=classic_sidebar&#038;blog_num_columns=1">List
                      Layout</a>
                    <ul class="sub-menu">
                      <li id="menu-item-1085"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1085"><a
                          href="http://themecanon.com/booker/blog/?blog_layout=classic_sidebar">List Right
                          Sidebar</a></li>
                      <li id="menu-item-1087"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1087"><a
                          href="http://themecanon.com/booker/blog/?blog_layout=classic">List Full Width</a></li>
                      <li id="menu-item-1086"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1086"><a
                          href="http://themecanon.com/booker/blog/?blog_layout=classic_sidebar&#038;sidebars_alignment=left">List
                          Left Sidebar</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li id="menu-item-1059"
                class="fa after fa-angle-right menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1059">
                <a href="#">Post Types</a>
                <ul class="sub-menu">
                  <li id="menu-item-1070"
                    class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1070"><a
                      href="/templates/6/blog/the-pages-literally-fly-past-me/">Review Post</a></li>
                  <li id="menu-item-1060"
                    class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1060"><a
                      href="/templates/6/blog/that-old-road-to-no-where/">Standard Post</a></li>
                  <li id="menu-item-1064"
                    class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1064"><a
                      href="/templates/6/blog/but-how-had-mystic-been-caught/">Quote Post</a></li>
                  <li id="menu-item-1066"
                    class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1066"><a
                      href="/templates/6/blog/that-old-paper-back-novel-5/">Gallery Post</a></li>
                  <li id="menu-item-1067"
                    class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1067"><a
                      href="/templates/6/blog/that-old-paper-back-novel-2/">Video Post</a></li>
                </ul>
              </li>
              <li id="menu-item-1043"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1043"><a
                  href="http://themecanon.com/booker/blog/author/ThemeCanon/">Posts by Author Page</a></li>
              <li id="menu-item-1058"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1058"><a
                  href="/templates/6/blog/category/news/">Category Page</a></li>
            </ul>
          </li>
          <li id="menu-item-10"
            class="fa after fa-angle-down menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-10">
            <a href="/templates/6/shop/">Store</a>
            <ul class="sub-menu">
              <li id="menu-item-9" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9">
                <a href="/templates/6/cart/">Cart</a></li>
              <li id="menu-item-770"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-770"><a
                  href="/templates/6/checkout/">Checkout</a></li>
              <li id="menu-item-769"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-769"><a
                  href="/templates/6/my-account/">My Account</a></li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-canon toolbar-search-btn"><a href="#"><i
                class="fa fa-search"></i></a></li>
          <li class="wpmenucartli wpmenucart-display-standard menu-item" id="wpmenucartli"><a
              class="wpmenucart-contents empty-wpmenucart-visible" href="/templates/6/shop/"
              title="Start shopping"><i class="wpmenucart-icon-shopping-cart-0" role="img"
                aria-label="Cart"></i><span class="cartcontents">0 items</span></a></li>
        </ul>
      </nav>

    </div>

  </div>