---
layout: 4
---
<main>
  <!-- Marching to Leadership: Army Lessons for Your Business -->
  <section id="description" class="well well-1 bg-cararra bg-image-1">
    <div class="container container-wide">
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-md-offset-4 col-md-8 col-lg-offset-6 col-lg-6 ">
          <ul class="inline-list text-masala">
            <li>
              <span> <span class="big preffix-2 line-height-1">#1</span> <br> <span
                  class="small-1">best <br> seller</span> </span>
            </li>
            <li>
              <span> <span class="small-1">best of <br> the Month</span> </span>
            </li>
            <li>
              <span><span class="big line-height-1">1</span> <br> <span
                  class="small-1"><span> Million <br> copies </span> </span> </span>
            </li>
          </ul>
          <h2 class="text-left center-md"> {{ site.title }}
          </h2>
          <p class="offset-2 text-left center-md"><span class="fw-l text-italic ">by</span> <a class="text-primary"
                                                                                               href="#">{{ site.authorname }}</a></p>
          <p class="fw-l">This book is a true battle map for your business! It will lay out all the wisdom and
            knowledge
            by this
            decorated US Army colonel. Management skills, gathered across the battlefields and army stations.</p>
          <p class="fw-l">All for helping you to become efficient and disciplined. As much, as an army officer should
            be
            when fellowmen's lives are concerned! </p>
          <p class="fw-sb">Mr. Sterling's advice will teach to you to apprehend your business management likewise to
            army management.
            Because your business battles do concern your life and your employees' way of life!</p>
          <div class="offset-4 text-left center-md">
            <a href="#" class="btn btn-default">Buy e-Book</a>
            <span class="fw-sb block-xs preffix-3 offset-3">from <span class="big-1"><sup>$</sup>9.90</span></span>
          </div>
          <p class="text-italic text-log-cabin fw-l lh-auto offset-5 text-left center-md">eBook includes PDF, ePub,
            MOBI <br>
            and FB2 versions</p>

        </div>
      </div>
    </div>
  </section>
  <!-- END  Marching to Leadership: Army Lessons for Your Business -->

  <!-- {{ site.authorname}} -->
  <section id="about" class="bg-image-2">
    <section class="well well-2  relative shadow">
      <div class="container container-wide">
        <div class="row">
          <div class="col-sm-offset-6 col-md-offset-1 col-md-4">
            <h2 class="text-left left-md">
              <span class="h6">About the Author</span>
              {{ site.authorname}}
            </h2>
            <p>Sterling is a decorated marine, with a combat and command experience. This man ordered and followed
              hundreds of soldiers into victorious battles and special operations.</p>

            <p class="inset-1">This unique experience of leadership translated into commanding level of his business
              consulting
              career.</p>

            <p>Now, 7 years since it founding, his "Lexi Nova" business consulting centre advises Fortune 500
              companies.
              Giving his guru advice on their strategic and tactical business operations.</p>
          </div>
          <div class="image-abs-1"></div>
          <div class="image-abs-2"></div>
          <div class="image-abs-3"></div>
        </div>
      </div>
    </section>
    <!-- Experience Book’s First Pages for Free! -->
    <section id="free" class="well well-3 relative vis">


      <div class="well well-4 container container-wide relative vis">
        <div class="bg-abs-1"></div>
        <div class="image-abs-4"></div>
        <div class="row">
          <div class="col-sm-offset-1 col-sm-10 col-md-offset-5 col-md-7 col-lg-offset-6 col-lg-6">
            <h2 class="text-left center-md">
              <span class="h6 lh-1">Free samples</span>
              Experience Book’s First <br class="hidden visible-lg-block">
              Pages <span class="fw-n text-italic">for</span> <span class="text-danger">Free</span>!
            </h2>
            <p class="inset-1">Mr. Sterling's strategic business advice are written in a well structured,
              easy-to-follow fashion,
              which can be witnessed even while examining just few pages of the book.</p>

            <p class="big-2 line-height-1">
              That is why we give away <span class="fw-b">free</span> sample of the <br
                class="hidden visible-lg-block">
              first pages to our prospective readers.
            </p>

            <p>This preview will allow you to make sure that the "Marching to Leadership: <br
                class="hidden visible-lg-block"> Business Army" book is your kind of drill!</p>

            <div class="offset-6 relative vis">
              <div class="bg-abs-2"></div>
              <div class="row">
                <div class="col-sm-7 col-md-9 col-lg-7">
                  <h5 class="fw-l text-left center-sm">Enter your e-mail and
                    receive the 1<sup>st</sup> Chapter <br class="hidden visible-lg-block">
                    for <span class="text-danger">Free</span></h5>
                </div>
              </div>

              <form class='rd-mailform' method="post" action="bat/rd-mailform.php">
                <!-- RD Mailform Type -->
                <input type="hidden" name="form-type" value="contact"/>
                <!-- END RD Mailform Type -->
                <div class="row">
                  <div class="col-sm-7">
                    <div class="form-group">


                      <label class="form-label email" data-add-placeholder for="mailform-input-email">youremail@demolink.org</label>
                      <input class="" id="mailform-input-email"
                             type="text"
                             name="email"
                             data-constraints="@NotEmpty @Email"/>

                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-group btn-grp text-left center-sm">
                      <button class="btn btn-sm btn-default" type="submit">Get free chapter</button>
                      <div class="mfInfo"></div>
                    </div>
                  </div>
                </div>

              </form>

              <p class="small-2 op-5 small-2 line-height-2 text-italic inset-3">If you want to see the whole first chapter of
                this business advice book for free, <br class="hidden visible-sm-block">
                we will send it right to your inbox!</p>
            </div>
          </div>
        </div>
        <div class="row offset-7 center-md text-left flow-offset-1">
          <div class="col-sm-6 col-md-2">
            <div class="count-wrap count-wrap-1">
              <img src="images/page-01_img11.png" width="40" height="50" alt="" class="icon icon-1">
              <div class="counter" data-from="0" data-to="736"></div>
              <p class="small-2 text-tuna">Total Pages</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="count-wrap count-wrap-2">
              <img src="images/page-01_img12.png" width="63" height="47" alt="" class="icon icon-2">
              <div class="counter counter-1" data-from="0" data-to="1"></div>
              <p class="small-2 text-tuna">Active Readers</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-2 col-sm-clear col-md-release ">
            <div class="count-wrap count-wrap-11">
              <img src="images/page-01_img13.png" width="58" height="53" alt="" class="icon icon-3">
              <div class="counter counter-2" data-from="0" data-to="41"></div>
              <p class="small-2 text-tuna">Working Hours</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-2">
            <div class="count-wrap count-wrap-3">
              <img src="images/page-01_img14.png" width="58" height="60" alt="" class="icon icon-4">
              <div class="counter counter-3" data-from="0" data-to="1"></div>
              <p class="small-2 text-tuna">Teas Made</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 offset-md-0">
            <div class="count-wrap count-wrap-4">
              <img src="images/page-01_img15.png" width="58" height="58" alt="" class="icon icon-5">
              <div class="counter counter-4" data-from="0" data-to="16"></div>
              <p class="small-2 text-tuna">Facebook Fans</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END Experience Book’s First Pages for Free! -->
  </section>
  <!-- END {{ site.authorname}} -->


  <!-- What People Say -->
  <section class="well well-5 bg-grad-1">
    <div class="container container-wide">
      <h2 class="text-left center-md">
        <span class="h6 lh-1">Testimonials</span>
        What People Say
      </h2>
      <div class="row offset-9">
        <!-- Owl Carousel -->
        <div class="owl-carousel owl-carousel-1"
             data-dots="true"
             data-dots-each="1"
             data-items="1"
             data-sm-items="2"
             data-md-items="3">
          <div class=" col-xs-12">
            <blockquote class="quote">
              <div class="media">
                <div class="media-left">
                  <img src="images/page-01_img16.jpg" width="71" height="71" alt="" class="round img-wide img-wide-1">
                </div>
                <div class="media-body media-middle">
                  <p class="cite"><cite>Diane Wheaton</cite>
                  </p>
                  <p class="small">Financier</p>
                </div>
              </div>
              <p class="q q-1 ">
                <q>
                  I've been struggling with developing a medium business I inherited from my aunt. But these strategic
                  advice from Mr. Sterling just set everything straight for me and thanks to using them I've recently
                  built a new structure for the company in just under 3 months. Incredible!
                  <span class="quot"></span>
                </q>
              </p>
            </blockquote>
          </div>
          <div class=" col-xs-12">
            <blockquote class="quote">
              <div class="media">
                <div class="media-left">
                  <img src="images/page-01_img17.jpg" width="71" height="71" alt="" class="round img-wide img-wide-1">
                </div>
                <div class="media-body media-middle">
                  <p class="cite"><cite>Arnold Poskowitz</cite>
                  </p>
                  <p class="small">Lawyer</p>
                </div>
              </div>
              <p class="q q-1 q-2">
                <q>
                  My law firm suffered severe downtime and revenue loss, while I've been serving in the Navy
                  2006-2011.
                  But as soon as I returned home and I've read this book upon my friend's recommendation, I was able
                  to
                  utilize all these strategic tips and tricks and structure my company the right way again!
                  <span class="quot"></span>
                </q>
              </p>
            </blockquote>
          </div>
          <div class="col-xs-12">
            <blockquote class="quote">
              <div class="media">
                <div class="media-left">
                  <img src="images/page-01_img18.jpg" width="71" height="71" alt="" class="round img-wide img-wide-1">
                </div>
                <div class="media-body media-middle">
                  <p class="cite"><cite>Jeffrey Neddery</cite>
                  </p>
                  <p class="small">SMB Owner</p>
                </div>
              </div>
              <p class="q q-3">
                <q>
                  It's been a hard time for SMB sector after the Great Recession hit us in 2008... But luckily I read
                  these series of strategic business advice books and was able to coordinate a well-executed business
                  development strategy. All thanks to this book!
                  <span class="quot"></span>
                </q>
              </p>
            </blockquote>
          </div>
        </div>
        <!-- END Owl Carousel -->

      </div>
    </div>
  </section>
  <!-- END What People Say-->

  <!-- Better See -->
  <section id="vid" class="well well-6 black-haze">
    <div class="container container-wide con-video">
      <div class="row">
        <div class="col-md-8 text-center">

            <div class="embed-responsive embed-responsive-16by9">
            <iframe class=embed-responsive-item"" src="https://player.vimeo.com/video/37582125"
                      allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4">
          <h2 class="text-left center-md">
            <span class="h6 lh-1">Video review</span>
            Better See
          </h2>
          <p class="offset-10">Decorated marine, with a combat and command experience, he ordered and followed
            hundreds of soldiers into
            victorious battles and special operations during his career.</p>

          <p>This unique experience of leadership translated into commanding, guru level of his business consulting
            career.</p>

          <!-- Magnific Popup Video -->
          <a class="thumb" data-lightbox="iframe" href="//player.vimeo.com/video/37582125?wmode=transparent">
            Watch a <br>
            Quick Demo
          </a>
          <!-- END Magnific Popup Video -->

        </div>
      </div>
    </div>
  </section>
  <!-- END Better See -->

  <!-- I offer this book -->
  <section id="book" class="well well-7 black-haze-1">
    <div class="container container-wide">
      <div class="row">
        <div class="col-md-5">
          <h2 class="text-left center-md">
            <span class="h6 lh-1">Buy a Book</span>
            I offer this book
            <span class="text-italic">in</span> few different
            packages.
          </h2>
          <p class="offset-11 inset-1">First off, you can purchase only electronic version of the book, which you can
            read on multiple platforms
            (from Amazon's Kindle to an iPad).</p>
          <p class="inset-1">The second offer is an extended package with an invitation to meet with the book's author
            at a price
            specified below.</p>
          <p class="inset-1">And of course, you can purchase the gold pack with a free T-shirt and an autographed
            hardback copy of the book.</p>

        </div>
        <div class="col-md-7">
          <div class="image-wrap-1">
            <img src="images/page-01_img23.png" width="710" height="528" alt="" class="img-wide">
          </div>
          <ul class="inline-list-1">
            <li><a href="#"><img src="images/page-01_img24.png" width="130" height="40" alt="" class="img-wide"></a>
            </li>
            <li><a href="#"><img src="images/page-01_img25.png" width="130" height="40" alt="" class="img-wide"></a>
            </li>
            <li><a href="#"><img src="images/page-01_img26.png" width="130" height="40" alt="" class="img-wide"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- END I offer this book -->


  <!-- pucks -->
  <section class="well well-8 bg-black-haze-2">
    <div class="container container-wide">
      <div class="product">
        <div class="product-head">
          Standard Pack
        </div>
        <div class="product-body">
          <div class="product-content">
            <ul class="marked-list text-left">
              <li class="active"><span>Book</span> (ePub, MOBI, FB2, PDF)</li>
              <li>Project files</li>
              <li>Meet the writer</li>
              <li>Signed printed book</li>
              <li>T-shirt with cool print</li>
            </ul>
          </div>
          <a href="#" class="btn btn-md btn-default"><span class="big-2 fw-xb"><sup>$</sup>9.90</span> <span
              class="price-name">— Buy Standard Pack</span></a>
        </div>
      </div>
      <div class="product product-1">
        <div class="product-head">
          PRO Pack
        </div>
        <div class="product-body">
          <div class="product-content">
            <ul class="marked-list text-left">
              <li class="active"><span>Book</span> (ePub, MOBI, FB2, PDF)</li>
              <li class="active"><span>Project files</span></li>
              <li class="active"><span>Meet the writer</span></li>
              <li>Signed printed book</li>
              <li>T-shirt with cool print</li>
            </ul>
          </div>
          <a href="#" class="btn btn-lg btn-default"><span class="big-1 fw-xb"><sup>$</sup>19.90</span> <span
              class="price-name big-3">— Buy Pro Pack</span></a>
        </div>
      </div>
      <div class="product">
        <div class="product-head product-head-2">
          Gold Pack
        </div>
        <div class="product-body">
          <div class="product-content">
            <ul class="marked-list text-left">
              <li class="active"><span>Book (ePub, MOBI, FB2, PDF)</span></li>
              <li class="active"><span>Project files</span></li>
              <li class="active"><span>Meet the writer</span></li>
              <li class="active"><span>Signed printed book</span></li>
              <li class="active"><span>T-shirt with cool print</span></li>
            </ul>
          </div>
          <a href="#" class="btn btn-md btn-default"><span class="big-2 fw-xb"><sup>$</sup>39.90</span> <span
              class="price-name">— Buy Gold Pack</span></a>
        </div>
      </div>
    </div>
  </section>
  <!-- END pucks -->

  <!-- Good business` -->
  <section class="well well-9  bg-tiara">
    <div class="container container-wide">
      <div class="row text-center">
        <!-- Owl Carousel -->
        <div class="owl-carousel owl-carousel-2" data-items="1"
             data-dots="true"
             data-dots-each="1">
          <div class="col-xs-12">
            <blockquote class="quote-1">
              <h1 class="big-h">
                <q>
                  Good business strategy
                  always includes set <br class="hidden visible-lg-block">
                  of tactics.
                </q>
              </h1>
            </blockquote>
          </div>
          <div class="col-xs-12">
            <blockquote class="quote-1">
              <h1>
                <q class="q-1">If you are executing a newly written business development strategy - always have backup
                  plans - B
                  to
                  Z.</q>
              </h1>
            </blockquote>
          </div>
          <div class="col-xs-12">
            <blockquote class="quote-1">
              <h1>
                <q class="q-2">
                  Never underestimate your loyal, returning customers. Especially when re-branding <br class="hidden visible-lg-block"> your company.
                </q>
              </h1>
            </blockquote>
          </div>
        </div>
      </div>
      <!-- END Owl Carousel -->
    </div>
  </section>
  <!-- END ` -->


  <!-- My other books -->
  <section id="books" class="well well-10 bg-baltic">
    <div class="container container-wide">
      <h1 class="big-h text-center">
        My other books
      </h1>
      <div class="row  center-md flow-offset-1">
        <div class="col-md-4">
          <div class="image-wrap-2">
            <a href="#"><img src="images/page-01_img31.jpg" width="269" height="336" alt=""
                              class="img-wide img-2"></a>
          </div>
          <p class="small-2 fw-sb">Firing Squad</p>
          <h4><a href="#">Learn How <span class="text-italic">to </span>Fire <br class="hidden visible-lg">
            <span class="text-italic">the</span> Wrong People</a></h4>
          <p class="big-3 line-height-3 inset-2">Author is a former army colonel turned business consulting
            mastermind. He will teach you the harsh but
            necessary art of firing wrong people. Thus your company will benefit from a diligent team and HR
            management.</p>
        </div>
        <div class="col-md-4">
          <div class="image-wrap-3">
            <a href="#"><img src="images/page-01_img32.jpg" width="269" height="336" alt=""
                              class="img-wide img-2"></a>
          </div>
          <p class="small-2 fw-sb">Recruitment Facility</p>
          <h4><a href="#">Hire Geniuses <span class="text-italic">for</span> <br class="hidden visible-lg">
            your Business</a></h4>
          <p class="big-3 line-height-3 inset-2">Learn the lost art of job interviews and psychological assessment of
            new recruits! Re-written, retold and retaught by {{ site.authorname}}! Teach yourself and your HR department on
            how to pick apples from oranges, and good apples from bad ones.</p>
        </div>
        <div  class="col-md-4">
          <div class="image-wrap-4">
            <a href="#"><img src="images/page-01_img33.jpg" width="269" height="336" alt=""
                              class="img-wide img-2"></a>
          </div>
          <p class="small-2 fw-sb">Low Casualties</p>
          <h4 ><a href="#">Building Efficient
            SCRUM</a></h4>
          <p class="big-3 line-height-3 inset-2">This business book aims to teach you the efficiency native to US
            army but on a corporate-scale level. Former US colonel will explain the vital importance of high
            performance. It is crucial for any kind of civilian running business.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- END My other books -->
</main>