<footer id="contact" class="footer-area black-bg">
    <div class="container">
        <div class="footer-top text-center">
            <div class="footer-logo">
                <a href="#"><img src="assets/img/logo/2.png" alt=""></a>
            </div>
            <div class="footer-menu">
                <nav>
                    <ul>
                        <li><a href="#">FACEBOOK</a></li>
                        <li><a href="#">TWITTER</a></li>
                        <li><a href="#">LINKDIN</a></li>
                        <li><a href="#">INSTAGRAM</a></li>
                        <li><a href="#">PINTEREST</a></li>
                    </ul>
                </nav>
            </div>
            <div class="contact">
                <ul>
                    <li>EMAIL : <a href="#"> HBOOK@GMAIL.COM</a></li>
                    <li>PHONE : +98 968 589</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="copyright">
                <p>Copyright© <a href="https://devitems.com/" target="blank">DevItems</a> 2017.All right reserved</p>
            </div>
        </div>
    </div>
</footer>