        <!-- header start -->
		<header class="transparent-bar absolute-bar header-area z-index ptb-40 sticker">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="header-left f-left">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt="" /></a>
                            </div>
                            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu-2">
                                <i class="ion-android-menu menu-open"></i>
                            </button>
                        </div>
                        <div class="header-right f-right">
                            <div class="bar-button f-right ml-15">
                                <a href="#" class="header-btn">BUY NOW </a>
                            </div>
                            <div class="menu-bar f-right collapse navbar-collapse" id="main-menu-2">
                                <nav>
                                    <ul class="one-page">
                                        <li class="active"><a href="index.html#slider-section">HOME</a></li>
                                        <li><a href="index.html#about-area">ABOUT</a></li>
                                        <li><a href="index.html#testimonials">testimonials</a></li>
                                        <li><a href="index.html#pricing">pricing</a></li>
                                        <li><a href="index.html#blog">BLOG</a></li>
                                        <li><a href="index.html#contact">CONTACT</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</header>