---
layout: 2
---

<main id="tg-main" class="tg-main tg-haslayout">
	<!--************************************
			Statistics Start
	*************************************-->
		<div class="tg-statistics">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="tg-sectionhead tg-textalignleft">
							<div class="tg-sectiontitle">
								<h2>Over the year this book gone viral</h2>
							</div>
						</div>
						<div id="tg-collectioncounters" class="tg-collectioncounters">
							<div class="tg-collectioncounter">
								<div class="tg-collectioncountericon tg-copies">
									<i class="icon-book"></i>
								</div>
								<div class="tg-titlepluscounter">
									<h2>Copies Sold</h2>
									<h3 data-from="0" data-to="23500" data-speed="8000" data-refresh-interval="50">23500</h3>
								</div>
							</div>
							<div class="tg-collectioncounter">
								<div class="tg-collectioncountericon tg-coffeecups">
									<i class="icon-coffee-cup"></i>
								</div>
								<div class="tg-titlepluscounter">
									<h2>Cup Of Coffe</h2>
									<h3 data-from="0" data-to="53246" data-speed="8000" data-refresh-interval="50">53246</h3>
								</div>
							</div>
							<div class="tg-collectioncounter">
								<div class="tg-collectioncountericon tg-copiesreleased">
									<i class="icon-bookmark"></i>
								</div>
								<div class="tg-titlepluscounter">
									<h2>Copies Released</h2>
									<h3 data-from="0" data-to="32456" data-speed="8000" data-refresh-interval="50">32456</h3>
								</div>
							</div>
							<div class="tg-collectioncounter">
								<div class="tg-collectioncountericon tg-readers">
									<i class="icon-heart"></i>
								</div>
								<div class="tg-titlepluscounter">
									<h2>Happy Readers</h2>
									<h3 data-from="0" data-to="45522" data-speed="8000" data-refresh-interval="50">45522</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!--************************************
			Statistics End
	*************************************-->
	<!--************************************
			Sticky Book Info Start
	*************************************-->
		<div id="tg-buynow" class="tg-buynow">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="tg-postbook">
							<figure class="tg-featureimg">
								<div class="tg-bookimg">
									<div class="tg-frontcover"><img src="/templates/2/images/slider/fronimg.jpg" alt="image description"></div>
									<div class="tg-backcover"><img src="/templates/2/images/slider/backimg.jpg" alt="image description"></div>
								</div>
							</figure>
						</div>
						<div class="tg-bannercontent">
							<span class="tg-bookby">By: {{ site.authorname }}</span>
							<h1>{{ site.title }}<span>Bad Day</span></h1>
							<em class="tg-inlucdebooks">* eBook includes iBooks, PDF &amp; ePub versions</em>
						</div>
						<div class="tg-btnarea">
							<a class="tg-btn tg-active" href="javascript:void(0);"><span>Buy Now For $9.30</span></a>
							<a class="tg-readsample" href="javascript:void(0);">Read A Free Sample</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!--************************************
			Sticky Book Info End
	*************************************-->
	<!--************************************
			About Us Start
	*************************************-->
		<section id="tg-shortdescription" class="tg-haslayout tg-sectionspace">
			<div class="container">
				<div class="row">
					<div class="tg-aboutus">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<figure class="tg-aboutusimg tg-imgshadow">
								<img src="/templates/2/images/img-01.jpg" alt="image description">
							</figure>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="tg-aboutusshortcode tg-textshortcode">
								<div class="tg-sectionhead tg-sectionheadvtwo tg-textalignleft">
									<div class="tg-sectiontitle">
										<span>Know More About Book</span>
										<h2>Short Description</h2>
									</div>
								</div>
								<div class="tg-description">
									<p><span class="tg-firstletter">C</span>
										onsectetur adipisicing elit eiusmod tempoiunt uatare dolore magna aliqua enim adeinim amaquis nodceace exercitation ullamco laboris nisi aliquip exteate coado consequat duis aute reprehende inoluptate velit esse cillumaei dolore eu fugiat nulla sint occaecat cupidatat.</p>
								</div>
								<div class="tg-btnarea">
									<a class="tg-btn tg-active" href="javascript:void(0);">Buy Now</a>
									<a class="tg-btn" href="javascript:void(0);">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!--************************************
			About Us End
	*************************************-->
	<!--************************************
			Newsletter Start
	*************************************-->
		<section class="tg-haslayout tg-sectionspace tg-bglight">
			<div class="container">
				<div class="row">
					<div class="tg-newsletter">
						<div class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-8 col-lg-push-2">
							<div class="tg-sectionhead">
								<div class="tg-sectiontitle">
									<h2>Get Latest News Updates &amp; Tips</h2>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-10 col-lg-push-1">
							<form class="tg-formtheme tg-formnewsletter">
								<fieldset>
									<div class="form-group">
										<input type="text" name="firstname" class="form-control" placeholder="Your Name">
									</div>
									<div class="form-group">
										<input type="email" name="youremail" class="form-control" placeholder="Your Email">
									</div>
									<button type="submit" class="tg-btn tg-active">Signup</button>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!--************************************
			Newsletter End
	*************************************-->
	<!--************************************
			Services Start
	*************************************-->
		<section id="tg-topics" class="tg-haslayout tg-sectionspace">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-8 col-lg-push-2">
						<div class="tg-sectionhead">
							<div class="tg-sectiontitle">
								<h2>Topics Covered</h2>
							</div>
							<div class="tg-description">
								<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris.</p>
							</div>
						</div>
					</div>
					<div class="tg-topics">
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
							<div class="tg-topic">
								<i class="tg-topicon icon-rocket"></i>
								<div class="tg-topiccontent">
									<div class="tg-title">
										<h3>Chapter Title 01</h3>
									</div>
									<div class="tg-description">
										<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utore et dolore magna aliqua enim ad minim.</p>
									</div>
								</div>
								<i class="tg-bottomicon icon-rocket"></i>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
							<div class="tg-topic">
								<i class="tg-topicon icon-camera"></i>
								<div class="tg-topiccontent">
									<div class="tg-title">
										<h3>Chapter Title 01</h3>
									</div>
									<div class="tg-description">
										<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utore et dolore magna aliqua enim ad minim.</p>
									</div>
								</div>
								<i class="tg-bottomicon icon-camera"></i>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
							<div class="tg-topic">
								<i class="tg-topicon icon-bookmark"></i>
								<div class="tg-topiccontent">
									<div class="tg-title">
										<h3>Chapter Title 01</h3>
									</div>
									<div class="tg-description">
										<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utore et dolore magna aliqua enim ad minim.</p>
									</div>
								</div>
								<i class="tg-bottomicon icon-bookmark"></i>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
							<div class="tg-topic">
								<i class="tg-topicon icon-heart-pulse"></i>
								<div class="tg-topiccontent">
									<div class="tg-title">
										<h3>Chapter Title 01</h3>
									</div>
									<div class="tg-description">
										<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utore et dolore magna aliqua enim ad minim.</p>
									</div>
								</div>
								<i class="tg-bottomicon icon-heart-pulse"></i>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
							<div class="tg-topic">
								<i class="tg-topicon icon-gift"></i>
								<div class="tg-topiccontent">
									<div class="tg-title">
										<h3>Chapter Title 01</h3>
									</div>
									<div class="tg-description">
										<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utore et dolore magna aliqua enim ad minim.</p>
									</div>
								</div>
								<i class="tg-bottomicon icon-gift"></i>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
							<div class="tg-topic">
								<i class="tg-topicon icon-diamond"></i>
								<div class="tg-topiccontent">
									<div class="tg-title">
										<h3>Chapter Title 01</h3>
									</div>
									<div class="tg-description">
										<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utore et dolore magna aliqua enim ad minim.</p>
									</div>
								</div>
								<i class="tg-bottomicon icon-diamond"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!--************************************
			Services End
	*************************************-->
	<!--************************************
			Feedback Start
	*************************************-->
		<section class="tg-parallax" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/templates/2/images/parallax/bgparallax-01.jpg">
			<div class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="tg-videooverview">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<div class="tg-overviewshortcode tg-textshortcode">
									<div class="tg-sectionhead tg-textalignleft">
										<div class="tg-sectiontitle">
											<h2>Watch Stunning Ebook<span>Overivew &amp; Feedback.</span></h2>
										</div>
									</div>
									<div class="tg-description">
										<p>Consectetur adipisicing elit sed do eiusmod temporut laboretae magna aliqua enim ad minim veniam quis nostrud exercitationi ut aliquip ex ea commodo consequat aute.</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<div class="tg-video">
									<figure>
										<img src="/templates/2/images/placeholder-img-01.jpg" alt="image description">
										<figcaption>
											<a class="tg-btnplay" href="https://www.youtube.com/watch?v=XBDc4mBkx5E" data-rel="prettyPhoto[video]"><i class="fa fa-play"></i></a>
										</figcaption>
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!--************************************
			Feedback End
	*************************************-->
	<!--************************************
			F.A.Q.s Start
	*************************************-->
		<section id="tg-faqs" class="tg-haslayout tg-sectionspace">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-8 col-lg-push-2">
						<div class="tg-sectionhead">
							<div class="tg-sectiontitle">
								<h2>Frequent Asked Questions</h2>
							</div>
							<div class="tg-description">
								<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris.</p>
							</div>
						</div>
					</div>
					<div class="tg-faqs">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<figure class="tg-faqsimg">
								<img src="/templates/2/images/papers.jpg" alt="image descrtiption">
							</figure>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div id="tg-accordion" class="tg-accordion" role="tablist" aria-multiselectable="true">
								<div class="tg-panel">
									<h4>01. Live your life like a king.</h4>
									<div class="tg-panelcontent">
										<div class="tg-description">
											<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue Sed non mauris vitae;erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
										</div>
									</div>
								</div>
								<div class="tg-panel">
									<h4>02. Let other bark.. just rob everything.</h4>
									<div class="tg-panelcontent">
										<div class="tg-description">
											<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue Sed non mauris vitae;erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
										</div>
									</div>
								</div>
								<div class="tg-panel">
									<h4>03. Finally we will hang you.</h4>
									<div class="tg-panelcontent">
										<div class="tg-description">
											<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue Sed non mauris vitae;erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
										</div>
									</div>
								</div>
								<div class="tg-panel">
									<h4>04. Happy great nation.</h4>
									<div class="tg-panelcontent">
										<div class="tg-description">
											<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue Sed non mauris vitae;erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!--************************************
			F.A.Q.s End
	*************************************-->
	<!--************************************
			Read On Device Start
	*************************************-->
		<section class="tg-haslayout tg-bglight">
			<div class="container">
				<div class="row">
					<div class="tg-readondevice">
						<div class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-8 col-lg-push-2">
							<div class="tg-sectionhead">
								<div class="tg-sectiontitle">
									<h2>Read On Any Device</h2>
								</div>
								<div class="tg-description">
									<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris.</p>
								</div>
							</div>
							<div class="tg-btnarea">
								<a class="tg-btn tg-active" href="javascript:void(0);">Buy Now</a>
								<a class="tg-btn" href="javascript:void(0);">About Author</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<figure class="tg-readondeviceimg">
								<img src="/templates/2/images/recondevice-img.png" alt="image description">
							</figure>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!--************************************
			Read On Device End
	*************************************-->
	<!--************************************
			Pages From Book Start
	*************************************-->
		<section id="tg-samplepages" class="tg-haslayout tg-sectionspace">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-8 col-lg-push-2">
						<div class="tg-sectionhead">
							<div class="tg-sectiontitle">
								<h2>Pages From Book</h2>
							</div>
							<div class="tg-description">
								<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris.</p>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="tg-pagesfrombookslider" class="tg-pagesfrombookslider tg-pages owl-carousel">
							<figure class="item tg-page">
								<img src="/templates/2/images/pages/img-01.jpg" alt="image descriprtion">
								<figcaption>
									<a class="tg-btnview" href="/templates/2/images/pages/img-01.jpg" data-rel="prettyPhoto[video]"><i class="icon-frame-expand"></i></a>
								</figcaption>
							</figure>
							<figure class="item tg-page">
								<img src="/templates/2/images/pages/img-02.jpg" alt="image descriprtion">
								<figcaption>
									<a class="tg-btnview" href="/templates/2/images/pages/img-02.jpg" data-rel="prettyPhoto[video]"><i class="icon-frame-expand"></i></a>
								</figcaption>
							</figure>
							<figure class="item tg-page">
								<img src="/templates/2/images/pages/img-03.jpg" alt="image descriprtion">
								<figcaption>
									<a class="tg-btnview" href="/templates/2/images/pages/img-03.jpg" data-rel="prettyPhoto[video]"><i class="icon-frame-expand"></i></a>
								</figcaption>
							</figure>
							<figure class="item tg-page">
								<img src="/templates/2/images/pages/img-02.jpg" alt="image descriprtion">
								<figcaption>
									<a class="tg-btnview" href="/templates/2/images/pages/img-02.jpg" data-rel="prettyPhoto[video]"><i class="icon-frame-expand"></i></a>
								</figcaption>
							</figure>
							<figure class="item tg-page">
								<img src="/templates/2/images/pages/img-02.jpg" alt="image descriprtion">
								<figcaption>
									<a class="tg-btnview" href="/templates/2/images/pages/img-02.jpg" data-rel="prettyPhoto[video]"><i class="icon-frame-expand"></i></a>
								</figcaption>
							</figure>
							<figure class="item tg-page">
								<img src="/templates/2/images/pages/img-02.jpg" alt="image descriprtion">
								<figcaption>
									<a class="tg-btnview" href="/templates/2/images/pages/img-02.jpg" data-rel="prettyPhoto[video]"><i class="icon-frame-expand"></i></a>
								</figcaption>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!--************************************
			Pages From Book End
	*************************************-->
	<!--************************************
			Testimonials Start
	*************************************-->
		<section class="tg-haslayout tg-sectionspace tg-bglight">
			<div class="container">
				<div class="row">
					<div class="tg-testimonials">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="tg-overviewshortcode tg-textshortcode">
								<div class="tg-sectionhead tg-textalignleft">
									<div class="tg-sectiontitle">
										<h2>Reader’s Feedback<span>It’s Positive &amp; Great</span></h2>
									</div>
								</div>
								<div class="tg-description">
									<p>Consectetur adipisicing elit sed do eiusmod temporut laboretae magna aliqua enim ad minim veniam quis nostrud exercitationi ut aliquip ex ea commodo consequat aute.</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div id="tg-testimonialslider" class="tg-testimonialslider owl-carousel">
								<div class="item tg-testimonial">
									<div class="tg-testimonialcontent">
										<i class="fa fa-quote-right"></i>
										<figure><img src="/templates/2/images/testimonial/img-01.jpg" alt="image description"></figure>
										<div class="tg-clientfeedback">
											<h3>Myrtie Smitherman<span>(Designer @ Lofael)</span></h3>
											<div class="tg-description"><p>Consectetur adipisicing elit sed eiusmod temporutai laboretae.</p></div>
										</div>
									</div>
								</div>
								<div class="item tg-testimonial">
									<div class="tg-testimonialcontent">
										<i class="fa fa-quote-right"></i>
										<figure><img src="/templates/2/images/testimonial/img-02.jpg" alt="image description"></figure>
										<div class="tg-clientfeedback">
											<h3>Myrtie Smitherman<span>(Designer @ Lofael)</span></h3>
											<div class="tg-description"><p>Consectetur adipisicing elit sed eiusmod temporutai laboretae.</p></div>
										</div>
									</div>
								</div>
								<div class="item tg-testimonial">
									<div class="tg-testimonialcontent">
										<i class="fa fa-quote-right"></i>
										<figure><img src="/templates/2/images/testimonial/img-03.jpg" alt="image description"></figure>
										<div class="tg-clientfeedback">
											<h3>Myrtie Smitherman<span>(Designer @ Lofael)</span></h3>
											<div class="tg-description"><p>Consectetur adipisicing elit sed eiusmod temporutai laboretae.</p></div>
										</div>
									</div>
								</div>
								<div class="item tg-testimonial">
									<div class="tg-testimonialcontent">
										<i class="fa fa-quote-right"></i>
										<figure><img src="/templates/2/images/testimonial/img-04.jpg" alt="image description"></figure>
										<div class="tg-clientfeedback">
											<h3>Myrtie Smitherman<span>(Designer @ Lofael)</span></h3>
											<div class="tg-description"><p>Consectetur adipisicing elit sed eiusmod temporutai laboretae.</p></div>
										</div>
									</div>
								</div>
								<div class="item tg-testimonial">
									<div class="tg-testimonialcontent">
										<i class="fa fa-quote-right"></i>
										<figure><img src="/templates/2/images/testimonial/img-05.jpg" alt="image description"></figure>
										<div class="tg-clientfeedback">
											<h3>Myrtie Smitherman<span>(Designer @ Lofael)</span></h3>
											<div class="tg-description"><p>Consectetur adipisicing elit sed eiusmod temporutai laboretae.</p></div>
										</div>
									</div>
								</div>
								<div class="item tg-testimonial">
									<div class="tg-testimonialcontent">
										<i class="fa fa-quote-right"></i>
										<figure><img src="/templates/2/images/testimonial/img-01.jpg" alt="image description"></figure>
										<div class="tg-clientfeedback">
											<h3>Myrtie Smitherman<span>(Designer @ Lofael)</span></h3>
											<div class="tg-description"><p>Consectetur adipisicing elit sed eiusmod temporutai laboretae.</p></div>
										</div>
									</div>
								</div>
								<div class="item tg-testimonial">
									<div class="tg-testimonialcontent">
										<i class="fa fa-quote-right"></i>
										<figure><img src="/templates/2/images/testimonial/img-02.jpg" alt="image description"></figure>
										<div class="tg-clientfeedback">
											<h3>Myrtie Smitherman<span>(Designer @ Lofael)</span></h3>
											<div class="tg-description"><p>Consectetur adipisicing elit sed eiusmod temporutai laboretae.</p></div>
										</div>
									</div>
								</div>
							</div>
							<div id="tg-testimonialsthumbslider" class="tg-testimonialsthumbslider tg-thumbs owl-carousel">
								<div class="item tg-thumb">
									<figure><img src="/templates/2/images/testimonial/thumb/img-01.jpg" alt="image description"></figure>
								</div>
								<div class="item tg-thumb">
									<figure><img src="/templates/2/images/testimonial/thumb/img-02.jpg" alt="image description"></figure>
								</div>
								<div class="item tg-thumb">
									<figure><img src="/templates/2/images/testimonial/thumb/img-03.jpg" alt="image description"></figure>
								</div>
								<div class="item tg-thumb">
									<figure><img src="/templates/2/images/testimonial/thumb/img-04.jpg" alt="image description"></figure>
								</div>
								<div class="item tg-thumb">
									<figure><img src="/templates/2/images/testimonial/thumb/img-05.jpg" alt="image description"></figure>
								</div>
								<div class="item tg-thumb">
									<figure><img src="/templates/2/images/testimonial/thumb/img-01.jpg" alt="image description"></figure>
								</div>
								<div class="item tg-thumb">
									<figure><img src="/templates/2/images/testimonial/thumb/img-02.jpg" alt="image description"></figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!--************************************
			Testimonials End
	*************************************-->
	<!--************************************
			Author Start
	*************************************-->
		<section id="tg-author" class="tg-haslayout tg-sectionspace">
			<div class="container">
				<div class="row">
					<div class="tg-aboutauthor">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<figure class="tg-authorimg tg-imgshadow">
								<img src="/templates/2/images/authors/authorimg.jpg" alt="image description">
							</figure>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="tg-aboutauthorshortcode tg-textshortcode">
								<div class="tg-sectionhead tg-sectionheadvtwo tg-textalignleft">
									<div class="tg-sectiontitle">
										<span>Know More About Author</span>
										<h2>{{ site.authorname }}</h2>
									</div>
								</div>
								<div class="tg-description">
									<p>Consectetur adipisicing elit eiusmod tempoiunt uatare dolore magna aliqua enim adeinim amaquis nodceace exercitation ullamco laboris nisi aliquip exteate.</p>
									<p>Arure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nones proident, sunt in culpa.</p>
								</div>
								<div class="tg-followauthor">
									<span>Follow:</span>
									<ul class="tg-socialicons">
										<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
										<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
										<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
										<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
										<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="tg-sectionhead tg-textalignleft">
							<div class="tg-sectiontitle">
								<h2>Awesome Contributors</h2>
							</div>
						</div>
					</div>
					<div class="tg-contributors">
						<div class="tg-contributorholder">
							<div class="tg-contributor">
								<figure>
									<img src="/templates/2/images/authors/img-01.jpg" alt="image description">
								</figure>
								<div class="tg-content">
									<div class="tg-contributorname">
										<h2><a href="javascript:void(0);">Matthew Thomason</a></h2>
									</div>
									<div class="tg-description">
										<p>Consectetur adipisicing elit sed eiusmod temporutai laboretae magna.<a href="javascript:void(0);">www.themeforest.net</a></p>
									</div>
								</div>
							</div>
						</div>
						<div class="tg-contributorholder">
							<div class="tg-contributor">
								<figure>
									<img src="/templates/2/images/authors/img-02.jpg" alt="image description">
								</figure>
								<div class="tg-content">
									<div class="tg-contributorname">
										<h2><a href="javascript:void(0);">Takisha Locicero</a></h2>
									</div>
									<div class="tg-description">
										<p>Consectetur adipisicing elit sed eiusmod temporutai laboretae magna.<a href="javascript:void(0);">www.themeforest.net</a></p>
									</div>
								</div>
							</div>
						</div>
						<div class="tg-contributorholder">
							<div class="tg-contributor">
								<figure>
									<img src="/templates/2/images/authors/img-03.jpg" alt="image description">
								</figure>
								<div class="tg-content">
									<div class="tg-contributorname">
										<h2><a href="javascript:void(0);">Daina Saito</a></h2>
									</div>
									<div class="tg-description">
										<p>Consectetur adipisicing elit sed eiusmod temporutai laboretae magna.<a href="javascript:void(0);">www.themeforest.net</a></p>
									</div>
								</div>
							</div>
						</div>
						<div class="tg-contributorholder">
							<div class="tg-contributor">
								<figure>
									<img src="/templates/2/images/authors/img-04.jpg" alt="image description">
								</figure>
								<div class="tg-content">
									<div class="tg-contributorname">
										<h2><a href="javascript:void(0);">Tommy Deford</a></h2>
									</div>
									<div class="tg-description">
										<p>Consectetur adipisicing elit sed eiusmod temporutai laboretae magna.<a href="javascript:void(0);">www.themeforest.net</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!--************************************
			Author End
	*************************************-->
	<!--************************************
			Brands Start
	*************************************-->
		<section class="tg-haslayout tg-sectionspace tg-bglight">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-8 col-lg-push-2">
						<div class="tg-sectionhead">
							<div class="tg-sectiontitle">
								<h2>Book Also Available Here</h2>
							</div>
							<div class="tg-description">
								<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris.</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<ul class="tg-brands">
							<li>
								<figure>
									<a href="javascript:void(0);">
										<img src="/templates/2/images/bands/img-01.png" alt="image description">
									</a>
								</figure>
							</li>
							<li>
								<figure>
									<a href="javascript:void(0);">
										<img src="/templates/2/images/bands/img-02.png" alt="image description">
									</a>
								</figure>
							</li>
							<li>
								<figure>
									<a href="javascript:void(0);">
										<img src="/templates/2/images/bands/img-03.png" alt="image description">
									</a>
								</figure>
							</li>
							<li>
								<figure>
									<a href="javascript:void(0);">
										<img src="/templates/2/images/bands/img-04.png" alt="image description">
									</a>
								</figure>
							</li>
							<li>
								<figure>
									<a href="javascript:void(0);">
										<img src="/templates/2/images/bands/img-05.png" alt="image description">
									</a>
								</figure>
							</li>
							<li>
								<figure>
									<a href="javascript:void(0);">
										<img src="/templates/2/images/bands/img-06.png" alt="image description">
									</a>
								</figure>
							</li>
							<li>
								<figure>
									<a href="javascript:void(0);">
										<img src="/templates/2/images/bands/img-07.png" alt="image description">
									</a>
								</figure>
							</li>
							<li>
								<figure>
									<a href="javascript:void(0);">
										<img src="/templates/2/images/bands/img-08.png" alt="image description">
									</a>
								</figure>
							</li>
							<li>
								<figure>
									<a href="javascript:void(0);">
										<img src="/templates/2/images/bands/img-09.png" alt="image description">
									</a>
								</figure>
							</li>
							<li>
								<figure>
									<a href="javascript:void(0);">
										<img src="/templates/2/images/bands/img-10.png" alt="image description">
									</a>
								</figure>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	<!--************************************
			Brands End
	*************************************-->
	<!--************************************
			Our Other Books Start
	*************************************-->
		<section id="tg-otherbooks" class="tg-haslayout tg-sectionspace">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-8 col-lg-push-2">
						<div class="tg-sectionhead">
							<div class="tg-sectiontitle">
								<h2>Our Other Books</h2>
							</div>
							<div class="tg-description">
								<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris.</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="tg-otherbookslider" class="tg-otherbookslider tg-otherbooks owl-carousel">
							<div class="item tg-otherbook">
								<figure><img src="/templates/2/images/otherbooks/img-01.jpg" alt="image description"></figure>
								<div class="tg-othercontent">
									<div class="tg-booktitle">
										<time datetime="2017-12-12">May 27, 2017</time>
										<h3><a href="javascript:void(0);">Book Title Here</a></h3>
									</div>
									<div class="tg-description">
										<p>Consectetur adipisicing amieiusmod temporutai.</p>
									</div>
								</div>
							</div>
							<div class="item tg-otherbook">
								<figure><img src="/templates/2/images/otherbooks/img-02.jpg" alt="image description"></figure>
								<div class="tg-othercontent">
									<div class="tg-booktitle">
										<time datetime="2017-12-12">May 27, 2017</time>
										<h3><a href="javascript:void(0);">Book Title Here</a></h3>
									</div>
									<div class="tg-description">
										<p>Consectetur adipisicing amieiusmod temporutai.</p>
									</div>
								</div>
							</div>
							<div class="item tg-otherbook">
								<figure><img src="/templates/2/images/otherbooks/img-03.jpg" alt="image description"></figure>
								<div class="tg-othercontent">
									<div class="tg-booktitle">
										<time datetime="2017-12-12">May 27, 2017</time>
										<h3><a href="javascript:void(0);">Book Title Here</a></h3>
									</div>
									<div class="tg-description">
										<p>Consectetur adipisicing amieiusmod temporutai.</p>
									</div>
								</div>
							</div>
							<div class="item tg-otherbook">
								<figure><img src="/templates/2/images/otherbooks/img-04.jpg" alt="image description"></figure>
								<div class="tg-othercontent">
									<div class="tg-booktitle">
										<time datetime="2017-12-12">May 27, 2017</time>
										<h3><a href="javascript:void(0);">Book Title Here</a></h3>
									</div>
									<div class="tg-description">
										<p>Consectetur adipisicing amieiusmod temporutai.</p>
									</div>
								</div>
							</div>
							<div class="item tg-otherbook">
								<figure><img src="/templates/2/images/otherbooks/img-05.jpg" alt="image description"></figure>
								<div class="tg-othercontent">
									<div class="tg-booktitle">
										<time datetime="2017-12-12">May 27, 2017</time>
										<h3><a href="javascript:void(0);">Book Title Here</a></h3>
									</div>
									<div class="tg-description">
										<p>Consectetur adipisicing amieiusmod temporutai.</p>
									</div>
								</div>
							</div>
							<div class="item tg-otherbook">
								<figure><img src="/templates/2/images/otherbooks/img-06.jpg" alt="image description"></figure>
								<div class="tg-othercontent">
									<div class="tg-booktitle">
										<time datetime="2017-12-12">May 27, 2017</time>
										<h3><a href="javascript:void(0);">Book Title Here</a></h3>
									</div>
									<div class="tg-description">
										<p>Consectetur adipisicing amieiusmod temporutai.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!--************************************
			Our Other Books End
	*************************************-->
	<!--************************************
			Contact Us Start
	*************************************-->
		<section id="tg-contactus" class="tg-haslayout tg-sectionspace tg-bglight">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-8 col-lg-push-2">
						<div class="tg-sectionhead tg-sectionheadvthree">
							<div class="tg-sectiontitle">
								<span>Have A Question?</span>
								<h2>Feel Free To Ask.</h2>
							</div>
						</div>
					</div>
					<div class="contact_wrap">
						<div class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-8 col-lg-push-2">
							<form class="tg-formtheme tg-formcontactus contact_form">
								<div class="message_contact" style="display:none;"></div>
								<fieldset>
									<div class="form-group">
										<input type="text" name="yourname" class="form-control" placeholder="Your Name">
									</div>
									<div class="form-group">
										<input type="email" name="youremail" class="form-control" placeholder="Your Email">
									</div>
									<div class="form-group">
										<input type="text" name="phone" class="form-control" placeholder="Phone">
									</div>
									<div class="form-group">
										<input type="text" name="subject" class="form-control" placeholder="Subject">
									</div>
									<div class="form-group">
										<textarea name="description" placeholder="Message"></textarea>
									</div>
									<div class="form-group">
										<button type="button" class="tg-btn tg-active contact_now">Send</button>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!--************************************
			Contact Us End
	*************************************-->
	</main>