/**
* ----------------------------------------------------------------------------------------
*    WOW
* ----------------------------------------------------------------------------------------
*/

.is-wow { 
	visibility: hidden;
	transform: translateZ(0);
}

.body-mobile .is-wow {
	visibility: visible !important;
}