<script src="/templates/3/assets/js/vendor/jquery-1.12.0.min.js"></script>
<script src="/templates/3/assets/js/bootstrap.min.js"></script>
<script src="/templates/3/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/templates/3/assets/js/jquery.counterup.min.js"></script>
<script src="/templates/3/assets/js/waypoints.min.js"></script>
<script src="/templates/3/assets/js/ajax-mail.js"></script>
<script src="/templates/3/assets/js/owl.carousel.min.js"></script>
<script src="/templates/3/assets/js/plugins.js"></script>
<script src="/templates/3/assets/js/main.js"></script>