<footer class="page-footer" id="cont">
    <section >
      <div class="container container-wide center-sm">
        <div class="row">
          <div class="col-md-3">
            <address>
             <ul>
               <li>
                 <a href="mailto:#">discipline@demolink.org</a>
               </li>
               <li>
                  <a href="callto:#">+1 (703) 329 06 32</a>
               </li>
             </ul>
            </address>
            <p class="rights">
              All rights reserved <span id="copyright-year"></span>
             
            </p>
          </div>
          <div class="col-md-offset-1 col-md-2">
            <address>
              <p>6036 Richmond hwy.,
                Alexandria, VA <br class="hidden visible-md visible-lg">
                USA 22303</p>
            </address>
          </div>
          <div class="col-md-offset-1 col-md-4 col-lg-offset-2 col-lg-3">
            <ul class="inline-list-2">
              <li><a href="#" class="icon icon-xs icon-contrast round fa-facebook"></a></li>
              <li><a href="#" class="icon icon-xs icon-contrast round fa-twitter"></a></li>
              <li><a href="#" class="icon icon-xs icon-contrast round fa-google-plus"></a></li>
              <li><a href="#" class="icon icon-xs icon-contrast round fa-instagram"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </footer>