		<!--************************************
				Footer Start
		*************************************-->
		<footer id="tg-footer" class="tg-footer tg-haslayout">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<nav class="tg-addnav">
							<ul>
								<li><a href="javascript:void(0);">Terms &amp; Condition</a></li>
								<li><a href="javascript:void(0);">Privacy Policy</a></li>
								<li><a href="javascript:void(0);">Publications</a></li>
							</ul>
						</nav>
						<p class="tg-copyrights">{{page.authorname}} © 2017 All Rights Reserved.</p>
						<strong class="tg-logo"><a href="index.html"><img src="images/logo.png" alt="company logo here"></a></strong>
					</div>
				</div>
			</div>
		</footer>
		<!--************************************
				Footer End
		*************************************-->